Intermediate/
Content/ThirdPerson/
Content/Geometry/Meshes/1M_Cube.uasset
Content/Geometry/Meshes/1M_Cube_Chamfer.uasset
Content/Geometry/Meshes/CubeMaterial.uasset
Content/Mannequin/Character/Mesh/SK_Mannequin.uasset
Content/Mannequin/Character/Mesh/SK_Mannequin_PhysicsAsset.uasset
Content/Mannequin/Character/Mesh/UE4_Mannequin_Skeleton.uasset
Saved/Config/Windows/Game.ini
Saved/Config/Windows/Hardware.ini
Saved/Config/Windows/Input.ini
Saved/Config/Windows/Lightmass.ini
Saved/Config/Windows/OculusVR.ini
Saved/Config/Windows/Paper2D.ini
Saved/Config/Windows/PhysXVehicles.ini
Saved/Config/Windows/Scalability.ini
Saved/Config/WorldState/3488859743.json
.vs/MathWorld/v15/Browse.VC.db
.vs/MathWorld/v15/Browse.VC.opendb
.vs/MathWorld/v15/Solution.VC.db
.vs/MathWorld/v15/Solution.VC.db-shm
.vs/MathWorld/v15/Solution.VC.db-wal
Content/Geometry/Meshes/TemplateFloor.uasset
Content/Mannequin/Animations/ThirdPersonIdle.uasset
Content/Mannequin/Animations/ThirdPersonJump_End.uasset
Content/Mannequin/Animations/ThirdPersonJump_Loop.uasset
Content/Mannequin/Animations/ThirdPersonJump_Start.uasset
Content/Mannequin/Animations/ThirdPersonRun.uasset
Content/Mannequin/Animations/ThirdPersonWalk.uasset
Content/Mannequin/Animations/ThirdPerson_AnimBP.uasset
Content/Mannequin/Animations/ThirdPerson_IdleRun_2D.uasset
Content/Mannequin/Animations/ThirdPerson_Jump.uasset
Content/Mannequin/Character/Materials/M_UE4Man_Body.uasset
Content/Mannequin/Character/Materials/M_UE4Man_ChestLogo.uasset
Content/Mannequin/Character/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Content/Mannequin/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Content/Mannequin/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Content/Mannequin/Character/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Content/ThirdPersonCPP/Blueprints/ThirdPersonCharacter.uasset
Content/Mannequin/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Content/Mannequin/Character/Textures/UE4Man_Logo_N.uasset
Content/Mannequin/Character/Textures/UE4_LOGO_CARD.uasset
Content/Mannequin/Character/Textures/UE4_Mannequin_MAT_MASKA.uasset
Content/Mannequin/Character/Textures/UE4_Mannequin__normals.uasset
Saved/Config/CrashReportClient/UE4CC-Windows-DD27EB9A4AFC0BDDF651E197839AC8EE/CrashReportClient.ini
Saved/Config/Windows/Compat.ini
Saved/Config/Windows/DeviceProfiles.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Autosaves/PackageRestoreData.json
Content/ThirdPersonCPP/Maps/ThirdPersonExampleMap_BuiltData.uasset
Content/Physics_BuiltData.uasset
Binaries/Win64/MathWorldEditor.target
Binaries/Win64/UE4Editor.modules
